BoaUAT/src/flows/Clone_BOA_Order-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>clone</name>
        <label>clone</label>
        <locationX>919</locationX>
        <locationY>42</locationY>
        <actionName>BoaOpportunityClone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>success_and_error</targetReference>
        </connector>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>test</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>cloneid</assignToReference>
            <name>cloneOppId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>returnid</assignToReference>
            <name>ReturnCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CloneOppNavigate</name>
        <label>CloneOppNavigate</label>
        <locationX>1122</locationX>
        <locationY>371</locationY>
        <actionName>c:CloneOpportunityNavigate</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>cloneid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignOldOppToCloneOppId</name>
        <label>AssignOldOppToCloneOppId</label>
        <locationX>464</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>cloneid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CloneOppNavigate</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Choice1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120l000000CH3ZAAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>Oppid1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0060l000004TDblAAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>recordid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120l000000BSDZAA4</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypePurchaseOrders</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120l000000CH3eAAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordTypeSales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120l000000CH3ZAAW</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>690</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>display_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>salesDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clone</targetReference>
            </connector>
            <label>Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>purchase_to_sales</name>
        <label>purchase to sales</label>
        <locationX>455</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RecordTypePurchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recordtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypePurchaseOrders</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_available_record_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeSales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchase_to_Sales1</targetReference>
            </connector>
            <label>RecordTypePurchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>success_and_error</name>
        <label>success and error</label>
        <locationX>1114</locationX>
        <locationY>37</locationY>
        <defaultConnector>
            <targetReference>error_scressn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Success1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sucess_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>order</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>purchaseorder</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesOrder</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>test</name>
        <dataType>String</dataType>
        <expression>{!Id}+&apos;-&apos;+{!Select_available_record_type}+&apos;-&apos;+{!Customer}</expression>
    </formulas>
    <interviewLabel>Clone BOA Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone BOA Order</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>opportunity</name>
        <label>opportunity</label>
        <locationX>42</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boa_clone_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>oppid2</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Recordtype</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Boa_clone_Opportunity</name>
        <label>Boa clone Opportunity</label>
        <locationX>247</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>purchase_to_sales</targetReference>
        </connector>
        <fields>
            <name>Select_available_record_type</name>
            <choiceReferences>order</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select available record type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>display_records</name>
        <label>display records</label>
        <locationX>684</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>clone</targetReference>
        </connector>
        <fields>
            <name>Customer</name>
            <choiceReferences>SalesOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>error_scressn</name>
        <label>error screen</label>
        <locationX>921</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CloneOppNavigate</targetReference>
        </connector>
        <fields>
            <name>error</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;An error occurred while cloning the order. Please contact your Administrator.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Purchase_to_Sales1</name>
        <label>Purchase to Sales</label>
        <locationX>460</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignOldOppToCloneOppId</targetReference>
        </connector>
        <fields>
            <name>purchaseto</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;This operation is not valid.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Sucess_Screen</name>
        <label>Success Screen</label>
        <locationX>1126</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CloneOppNavigate</targetReference>
        </connector>
        <fields>
            <name>success</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The order has been successfully cloned.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>opportunity</startElementReference>
    <variables>
        <name>cloneid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>componentRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppid2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Oppid1</elementReference>
        </value>
    </variables>
    <variables>
        <name>Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>returnid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testclone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
