BoaUAT/src/flows/Clone_Opportunity-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>clone</name>
        <label>clone</label>
        <locationX>679</locationX>
        <locationY>21</locationY>
        <actionName>BoaOpportunityClone</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>oppId</name>
            <value>
                <elementReference>test</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>Choice1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120l000000CH3ZAAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>recordid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120l000000BSDZAA4</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>465</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>display_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>salesDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clone</targetReference>
            </connector>
            <label>Decision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>order</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>purchaseorder</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesOrder</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>test</name>
        <dataType>String</dataType>
        <expression>{!Id}+&apos;-&apos;+{!Select_available_record_type}+&apos;-&apos;+{!Customer}</expression>
    </formulas>
    <interviewLabel>Clone Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Opportunity</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>opportunity</name>
        <label>opportunity</label>
        <locationX>40</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boa_clone_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>oppid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Boa_clone_Opportunity</name>
        <label>Boa clone Opportunity</label>
        <locationX>269</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Select_available_record_type</name>
            <choiceReferences>order</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select available record type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>display_records</name>
        <label>display records</label>
        <locationX>461</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>clone</targetReference>
        </connector>
        <fields>
            <name>Customer</name>
            <choiceReferences>SalesOrder</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>opportunity</startElementReference>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
