BoaUAT/src/flows/DEliveryAddressFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignDelivery</name>
        <label>AssignDelivery</label>
        <locationX>420</locationX>
        <locationY>74</locationY>
        <assignmentItems>
            <assignToReference>DeliveryAdd.Customers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery</name>
        <label>Delivery</label>
        <locationX>721</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>lstdeliveraddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>deliveryAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeliverAddressesloop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChheckParent</name>
        <label>ChheckParent</label>
        <locationX>295</locationX>
        <locationY>193</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeliveryAdd.Customers__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDelivery</targetReference>
            </connector>
            <label>parent</label>
        </rules>
    </decisions>
    <interviewLabel>DEliveryAddressFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEliveryAddressFlow</label>
    <loops>
        <name>DeliverAddressesloop</name>
        <label>DeliverAddressesloop</label>
        <locationX>129</locationX>
        <locationY>333</locationY>
        <assignNextValueToReference>loopdeladd</assignNextValueToReference>
        <collectionReference>lstdeliveraddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChheckParent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDeliverAddresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AccountLook</name>
        <label>AccountLook</label>
        <locationX>127</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deliver_Address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountUpdate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Deliver_Address</name>
        <label>Deliver Address</label>
        <locationX>128</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeliverAddressesloop</targetReference>
        </connector>
        <filters>
            <field>Customers__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customer</elementReference>
            </value>
        </filters>
        <object>Delivery_Address__c</object>
        <outputReference>lstdeliveraddresses</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDeliverAddresses</name>
        <label>UpdateDeliverAddresses</label>
        <locationX>392</locationX>
        <locationY>377</locationY>
        <inputReference>lstdeliveraddresses</inputReference>
    </recordUpdates>
    <startElementReference>AccountLook</startElementReference>
    <variables>
        <name>AccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>customer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeliveryAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>deliveryAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>loopdeladd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
    <variables>
        <name>lstdeliveraddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery_Address__c</objectType>
    </variables>
</Flow>
