BoaUAT/src/flows/pricing_Policy_to_appy_discount_to_all_customers-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apex_pricing</name>
        <label>apex pricing</label>
        <locationX>479</locationX>
        <locationY>113</locationY>
        <actionName>Pricing_Policy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Discount_Applied</targetReference>
        </connector>
        <inputParameters>
            <name>PolicyId</name>
            <value>
                <elementReference>Policyid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>pricing Policy to appy discount to all customers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pricing Policy to appy discount to all customers</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Pricing_Policy</name>
        <label>Pricing Policy</label>
        <locationX>188</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>apex_pricing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Pricing_Policy__c</object>
        <outputAssignments>
            <assignToReference>Policyid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Discount_Applied</name>
        <label>Discount Applied</label>
        <locationX>742</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DiscountApplied</name>
            <fieldText>Discount Applied through all Customers.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Pricing_Policy</startElementReference>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Policyid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
