BoaUAT/src/flows/pricing_Policy_to_appy_discount_to_all_customers-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>apex_pricing</name>
        <label>apex pricing</label>
        <locationX>707</locationX>
        <locationY>117</locationY>
        <actionName>Pricing_Policy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Discount_Applied</targetReference>
        </connector>
        <inputParameters>
            <name>PolicyId</name>
            <value>
                <elementReference>Policyid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Discount_Decision</name>
        <label>Discount Decision</label>
        <locationX>513</locationX>
        <locationY>111</locationY>
        <defaultConnector>
            <targetReference>Error_Messege</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apex_pricing</targetReference>
            </connector>
            <label>Decision</label>
        </rules>
    </decisions>
    <interviewLabel>pricing Policy to apply discount to all customers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pricing Policy to apply discount to all customers</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Pricing_Policy</name>
        <label>Pricing Policy</label>
        <locationX>136</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Discount_Applied1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Pricing_Policy__c</object>
        <outputAssignments>
            <assignToReference>Policyid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Discount_Applied</name>
        <label>Discount Applied</label>
        <locationX>876</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DiscountApplied</name>
            <fieldText>Discount Applied to all Customers.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Discount_Applied1</name>
        <label>Discount Applied</label>
        <locationX>344</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Discount_Decision</targetReference>
        </connector>
        <fields>
            <name>Are_You_Sure</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are You Sure?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Error_Messege</name>
        <label>Error Messege</label>
        <locationX>513</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DiscountApplied2</name>
            <fieldText>No Discount  applied to  customers</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Pricing_Policy</startElementReference>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Policyid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
